[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "external/cpuinfo"]
	path = external/cpuinfo
	url = https://github.com/pytorch/cpuinfo
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/hipify_torch"]
	path = external/hipify_torch
	url = https://github.com/ROCmSoftwarePlatform/hipify_torch.git
[submodule "external/cutlass"]
	path = external/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/cudnn-frontend"]
	path = external/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
[submodule "external/triton"]
	path = external/triton
	url = https://github.com/openai/triton.git
