# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

name: FBGEMM Documentation
on:
  push:
    branches:
      - main
jobs:
  build_docs_job:
    runs-on: linux.2xlarge
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    # Update references
    # TODO: update the git submodule sync after we fixed the auto-sync part
    - name: Git Sumbodule Update
      run: |
        git submodule init
        git submodule update --remote --recursive
        git log
    - name: Update pip
      run: |
        sudo yum update -y
        sudo yum -y install git python3-pip
        sudo pip3 install --upgrade pip
    - name: Setup conda
      run: |
        wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh
        bash ~/miniconda.sh -b -p $HOME/miniconda -u
    - name: setup Path
      run: |
        echo "/home/ec2-user/miniconda/bin" >> $GITHUB_PATH
        echo "CONDA=/home/ec2-user/miniconda" >> $GITHUB_PATH
    - name: create conda env
      run: |
        conda create --name build_binary python=3.9
        conda info
    - name: check python version
      run: |
        conda run -n build_binary python --version
    - name: Install gcc
      shell: bash
      run: |
        sudo yum group install -y "Development Tools"
    - name: Setup Path
      run: |
        echo /usr/local/bin >> $GITHUB_PATH
    - name: Install PyTorch
      shell: bash
      run: |
        conda run -n build_binary python -m pip install --pre torch -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
    - name: Test PyTorch Installation
      run: |
        conda run -n build_binary python -c "import torch.distributed"
        echo "torch.distributed succeeded"
    - name: Install fbgemm_gpu nightly
      run: |
        cd ./fbgemm_gpu
        conda run -n build_binary python -m pip install -r requirements.txt
        conda run -n build_binary python setup.py install --cpu_only
    - name: Test fbgemm_gpu installation
      shell: bash
      run: |
        cd ./fbgemm_gpu/docs
        conda run -n build_binary \
          python -c "import fbgemm_gpu"
    - name: Install Doxygen
      run: |
        conda install -n build_binary -c conda-forge doxygen
        which doxygen
    - name: Build the docset
      run: |
        cd ./fbgemm_gpu/docs
        conda run -n build_binary python -m pip install -r requirements.txt
        conda run -n build_binary doxygen Doxyfile.in
        conda run -n build_binary make html
        cd ..
    - name: Get output time
      run: echo "The time was ${{ steps.build.outputs.time }}"
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: fbgemm_gpu/docs/build/html # The folder the action should deploy.
